.bim-whitespace {
    background-color: #eee;
}

.bim-whitespace-xs {
    height: 3px;
}

.bim-whitespace-sm {
    height: 6px;
}

.bim-whitespace-md {
    height: 9px;
}

.bim-whitespace-lg {
    height: 15px;
}

.bim-whitespace-xl {
    height: 20px;
}
