.whitespace {
    background-color: #eee;
}

.whitespace.whitespace-xs {
    height: 3px;
}

.whitespace.whitespace-sm {
    height: 6px;
}

.whitespace.whitespace-md {
    height: 9px;
}

.whitespace.whitespace-lg {
    height: 15px;
}

.whitespace.whitespace-xl {
    height: 21px;
}