.bim-list {
    background-color: #fff;
}

.bim-list-item {
    display: flex;
    padding: 5px 15px;
    align-items: center;
    line-height: 40px;
}

.bim-list-item:not(:last-child) {
    border-bottom: 1px solid #f4f4f4;
}

.bim-list-item-content {
    flex: 1;
    overflow: hidden;
    font-size: 18px;
    color: #000;
}

.bim-list-item-extra {
    font-size: 16px;
    color: #888;
    text-align: right;
    padding-left: 15px;
}

.bim-list-item-arrow {
    width: 24px;
    height: 24px;
    background-size: 100% 100%;
}