.bim-list {
    background-color: #fff;
}

.bim-list-item {
    display: flex;
    padding: 15px;
    align-items: center;
    font-size: 13px;
}

.bim-list-item:not(:last-child) {
    border-bottom: 1px solid #f4f4f4;
}

.bim-list-item-content {
    flex: 1;
    overflow: hidden;
    color: #4f4f4f;
}

.bim-list-item-extra {
    color: #999;
    text-align: right;
    padding-left: 15px;
    padding-right: 3px;
}

.bim-list-item-arrow {
    width: 18px;
    height: 18px;
    fill: #a2a2a2;
}
